body{
	font-family: Roboto;
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container{
	width     :	500px;
	margin    : 100px auto;
}

#wrap{
	width     : 800px;
	margin    : 100px auto;
}

#cont1{
	width 	  : 300px;
	margin    : 50px auto;
	float     : left;
	color     : white;
	font-weight: bold;
}

#cont2{
	width 	  : 150px;
	margin    : 50px auto;
	float     : left;
	padding-left : 20px;
	
}

#cont3{
	width 	  : 300px;
	margin    : 35px auto 50px;
	float     : right;
	padding-right : 20px;
}

#cont4{
	width 	  : 500px;
	margin    : 50px auto;
	float     : left;
	color     : white;
	font-weight: bold;
}

#trans{
	width 	  : 1000px;
	margin    : 0 auto 50px 400px;
	color     : white;
	font-weight: bold;
}



tr:hover {
    background: #ff9900;
}

#ret tr:hover{
	 background: #33ccff;
}

#wallet:hover{
	background: #00cc00;
}
#h1{
	color     : black;
	margin    : 0;
	padding   : 10px 20px;
	font-size : 60px;
	font-weight: normal;
	font-weight: bold;
	text-decoration: underline;
}
#h2{
	color     : black;
	margin    : 0;
	padding   : 10px 0;
	font-size : 55px;
	font-weight: normal;
	font-weight: bold;
	text-decoration: underline;
}
#loyal,#shoppers{
	width : 100px;
	float : right;
	margin-right : 20px;
	}

#form, #btn{
	color     : white;
	margin 	  : 0;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: normal;
}

#wallet{
	color        : white;
	padding-left : 39px;
	font-weight  : bold;
	font-size    : 20px;
	background : #009933;
	border-radius : 15px;
}

#msg{
	color     : red;
	margin 	  : 0;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: normal;
}
#msg2{
	color: white;
	margin : 0,auto;
	/*padding : 10px 20px;*/
	padding-left : 300px;
	font-size :25px;
	font-weight: bold;
}